* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 3vw;
    padding-top: 17vh;
}

#page1 h1 {
    font-size: 11.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    line-height: 12vw;
    word-spacing: 1vw;
}

#video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 1vw 1vw;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#video-container #play img {
    width: 3vw;
    height: 3vw;
}

#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 2.5vw;
    justify-content: space-between;

}

#page2 .elem {
    height: 100%;
    width: 32%;
    position: relative;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.elem .box{
    height: 50px;
    width: 80%;
    position: absolute;
    background-color: rgba(224, 255, 225, 0.881);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.elem .box:hover{
    height: 200px;
}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 60vh;
    width: 40vw;
    margin-bottom: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child img{
    height: 100%;
}

#cursor {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}

#nav{
    height: 100px;
    width: 100%;
    background-blend-mode: lighten;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #logo{
    height: 70%;
    padding-left: 1vw;
}

#items a{
    padding: 0 3vw;
    text-decoration: none;
    color: black;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}